@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0 10px; 
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    height: 80px;
    display: flex;  

}

a {
    text-decoration: none;
    color: rgb(69, 65, 65);
}

a:hover {
    text-decoration: underline;
}

.btn {
    cursor: pointer;
    font-weight: 700;
}

.purple {
    color: rgb(100 21 255);
}

/* 
NAV BAR */
.nav__container {
    width: 100%;
    max-width: 1200vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo__section {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 25px;
}

.logo__section:hover {
    text-decoration: none;
    color: rgb(100 21 255);
    transition: all 300ms;
}

.logo {
    height: 40px;
    align-items: center;
}

.nav__link{
    color: black;
    padding: 14px;
    font-weight: 550;
}

.nav__link:hover {
    color: rgb(100 21 255);
    transition: all 400ms;
}

.nav__link--primary {
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 30px;
}

.nav__link--primary:hover {
    background-color:rgb(80, 21, 198);
    color: white;
    text-decoration: none;
}

ul {
    display: flex;  
}

li { 
    list-style-type: none;
}



/* INTRODUCTION  */

.left__intro {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 100px 24px;
    height: 80px;
}

.intro__title {
    width: 100%;
    padding: 0;
    font-size: 35px;
    font-weight: 650;
}

.intro__para {
    font-size: 16px;
    padding: 29px 0;
    word-spacing: 3px;
    line-height: 29px;
    font-weight: 450;
    color: rgb(24, 24, 24);
}

.customers__title {
    opacity: .4;
}

.customer {
    height: 30px;
    opacity: .6;
    padding: 4px;
}

.national--geo {
    padding: 0;
}

.intro__search {
    width: 90%;
    border-style: solid;
    padding: 4px;
    border-radius: 45px;
    border-color: rgba(223, 218, 218, 0.729);
}

.intro__search:hover {
    border-color: rgb(115, 109, 109);
    transition: all 400ms;
}

input {
    border-style: none;
    color: rgba(222, 215, 215, 0.589);
    font-size: 16px;
}

.btn {
    padding: 16px;
    border-style: none;
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 60px;
}

.btn__intro{
    width: 160px;
    margin: 8px;
    font-size: 16px;
}

h4{
    opacity: .6;
    margin-top: 50px;
    padding: 8px;
}

.intro__img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 50px 0;
}

.img__intro{
    width: 60%;
    /* max-width: 512px; */
    max-width: 100%;
}

/* FEATURES */

.features {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px 0;
}

.subtitle__features {
    font-size: 16px;
    text-align: center;
    margin-top: 150px;
    letter-spacing: 2px;
}

.amazing__services{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #243E63;
    padding: 20px;
}

.features__para {
    font-size: 18px;
    font-weight: 500;
    color: #7C8BA1;
    text-align: center;
    padding: 20px 300px;
    line-height: 29px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.services__container {
    display: flex;
    width: calc(100%/3);
}

.services__card{
    display: flex;
    text-align: center;
}

.text__container {
    text-align: left;
}

.img__services {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 4px;
}

.description__services {
    line-height: 29px;
    color: #7C8BA1;
}

.title__services {
    font-size: 25px;
    font-weight: 700;
    color: rgb(81, 77, 77);
    padding: 24px 4px;
}
/* 
QUALITY WORK */

.qw__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 46%;
    height: 80px;
    padding: 200px 24px;
}

.qual__work {
    font-size: 16px;
    letter-spacing: 2px;
}

.sub__qual--work{
    font-size: 50px;
    font-weight: 800;
    margin: 9px 0;
    letter-spacing: 2px;
    color: #243E63;
}

.para__qual--work{
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    margin: 22px 0;
    line-height: 29px;
    word-spacing: 1px;
    
}

.qw__btn {
    width: 30%;
}

.qw__btn:hover {
    background-color: rgb(80, 21, 198);
    transition: all 300ms;
}

.qw__img {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 200px 32px;
    max-width: 100%;
}

.img__qual--work {
    height: 400px;
    border: 1px solid rgb(76, 73, 73);
}

/* EASY TO GET STARTED */

.container__easy {
    margin-top: 200px;
    display: flex;
}

.easy__img{ 
    height: 380px;
}

.easy__title{
    font-size: 16px;
    letter-spacing: 3px;
}

.easy__sub{
    font-size: 50px;
    font-weight: 850;
    color: #243E63;
}

.sub__easy {
    font-size: 18px;
    line-height: 29px;
}

.easy__steps{
    width: 85%;
}

.easy__para {
    color: gray;
    line-height: 29px;
}

/* VALUES */

.values{
    display: flex;
}

.values__section{
    width: 43%;
    padding: 8px 30px;
    margin-top: 200px;
}

.values__title {
    font-size: 16px;
    letter-spacing: 3px;
}

.values__sub{
    margin-top: 9px;
    font-size: 50px;
    font-weight: 800;
    color: #243E63;
}

.values__description {
    line-height: 29px;
    margin: 9px 0;
    font-weight: 500;
    color: #7C8BA1;
}

.principles__container {
    padding: 9px 0;
    width: 100%;
    display: flex;
}

.values__card{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img__values--container{
   display: flex;
   align-items: center;
}

.image__values{
    height: 40px;
    background-color: rgb(172, 206, 172);
    border-radius: 50%;
    padding: 8px;
}

.briefcase{
    background-color: pink; 
}

.values__sub--title {
    font-size: 20px;
    font-weight: 700;
}

.values__para{
    font-size: 16px;
    color: #718096;
    line-height: 29px;
    padding: 8px 0 0 0 ;
}

.btn__values {
    padding: 16px 24px;
}

.btn__values:hover{
    cursor: pointer;
    background-color: rgb(80, 21, 198);
    transition: all 300ms;
}

.imaged__principle{
   display: flex;
}

.principles__image{
    max-width: 100%;
    margin-top: 200px;
    height: 500px;
}

/* PRICING */
.pricing {
    margin-top: 200px;
}

.pricing__intro--container{
    text-align: center;
}

.pricing__title{
    font-size: 16px;
    letter-spacing: 3px;
}

.pricing__sub--title{
    font-size: 50px;
    font-weight: 800;
    color: #243E63;
}

.pricing__description{
    text-align: center;
    padding: 16px 400px;
    font-size: 18px;
    font-weight: 600;
    color: #7C8BA1;
    line-height: 29px;
}

.pricing__options{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}

.pricing__opts--personal, .pricing__opts--business, .pricing__opts--enterprise {
   border: 1px solid rgb(237, 232, 232);
   width: 33%;
   border-radius: 2%;
   height: 650px;
   margin: 4px 32px;
   padding: 0;
}

/* NEED TO CHANGE COLOR OF HR TAG FOR PERSONAL AND ENTERPRISE */


.business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(107, 113, 193)100%);
    color: white; 
}

.pricing__section{
    padding: 32px 0;
}

.pricing__section--title{
    font-size: 20px;
}

.price {
    font-size: 50px;
    font-weight: 700;
    padding: 12px 0 0;
}

.price__type {
    font-size: 18px;
    font-weight: 700;
    color: #A0AEC0;
    padding-top: 12px;
}

.pricing__section--includes{
    padding: 32px;
}

.pricing__includes--title{
    font-size: 20px;
}

.includes__one, .includes__two, .includes__three, .includes__four {
    font-size: 16px;
    color: #718096;
    padding: 32px 0 0;
}

.biz {
    color:#b2b8c0;
}

.highlight {
    margin-bottom: 24px;
    height: 8px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.highlight__business {
    margin-bottom: 24px;
    height: 8px;
}

.pricing__btn {
    margin-top: 32px;
    padding: 16px 60px;
    border-style: none;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.btn__1, .highlight__personal{
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.btn__2{
    background-color: white;
    color: rgb(80, 21, 198);
}

.btn__3, .highlight__enterprise{
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* TESTIMONIALS */
.testimonials__container{
    display: flex;
    margin-top: 200px;
}

.testimonials__img{
    width: 58%;
}

.image__testimonial{
    height: 399px;
    margin-top: 48px;
}

.testimonials__title {
    font-size: 18px;
    letter-spacing: 3px;
    padding: 20px;
}

.testimonials__sub--title{
    font-size: 50px;
    font-weight: 850;
    color: #243E63;
    padding-bottom: 20px;
}

.testimonials__para{
    color: #718096;
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.stars{
    padding-bottom: 20px;  
    padding: none;
}

.star{
    padding: 0 0 0;   
    color: rgb(246, 173, 85);
}

.testimonial__adam{
    display: none;
}


/* CONTAINER BOX */
.container__box {
    background-color: rgb(100 21 255);
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.box__para{
    color: white;
    font-size: 32px;
    font-weight: 650;
    width: 58%;
    padding: 95px 80px 45px 32px;
}
/* a {
    text-decoration: none;
    color: #242424;
    font-weight: 600;
}

.btn {
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 30px;
} */

/* NAVIGATION  BAR */
/* #landing {
    width: 100%;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 100px 20px;
}
.logo__container {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
}

.nav__link--primary {
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 30px;
    padding: 56px 32px;
    font-size: 16px;
}


.logo {
    width: 50px;
    padding: 4px;
    margin-right: 4px;
}

.nav__link {
    text-decoration: none;
    padding: 20px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.nav__links {
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
  color: #242424;
}

.nav__link:hover {
    text-decoration: underline;
    color: rgb(100 21 255);
    transition: all 400ms; 
}

ul {
    list-style-type: none;
}

.purple{ 
    color: rgb(100 21 255);
}
 */

/* INTRO  */

/* #introduction {
    margin-top: 100px;
} */

/* #introduction{
    display: flex;
    /* flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px; */

    /* max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 100px; 
} */
/* .left__intro{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 42%;
    padding: 8px;
    margin: 0;
} */

/* .intro__title {
    align-self: flex-end;
    padding: 20px;
    font-size: 35px;
    margin: 0;
}

.intro__img {
    position: absolute;
    float: right;
   align-self: flex-end;
   height: 40px;
   padding: 16px;
   position: relative;
   margin: 0;
}

.intro__search{
    align-self: self-start;
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #797171;  
}

.btn__intro {
    padding: 16px 32px;
    font-size: 16px;
    margin-left: 76px;
}
 
.email__input {
    border: none;
    font-size: 16px;
    color: rgba(149, 143, 143, 0.361);
}

.intro__para {
    padding: 32px;
}

.intro__container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 500px;

}

.customers {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    opacity: .4;
}

.customer {
    height: 40px;
    padding: 4px;
    fill: #797171;
} */


/* FEATURES */
/* #features {
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;
    margin-top: 40px;
    
}

.subtitle__features{
    display: flex;
    justify-content: center;
    padding: 20px; 
}

.container__features{
    flex-direction: column;
}

.amazing__services {
    display: flex;
    justify-content: center;
    padding: 10px 20px 20px 20px;
    font-size: 45px;
}

.features__para {
    padding: 10px 200px 20px 200px;
    text-align: center;
    color: #797171;
    font-size: 25px;
} */

/* .services__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__services {
    font-size: 24px;
    font-weight: 700;

}

.description__services{
    color: #79717195;
    font-size: 18px;
    font-weight: 500;
} */
/* QUALITY WORK */