@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

nav {
    max-width: 100vw;
}

.nav__link--primary {
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 12%;
    padding: 4px 9px;
}

.nav__links {
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #242424;
}

.nav__link {
    text-decoration: none;
    padding: 6px;
}

ul {
    list-style-type: none;
}

.purple{ 
    color: rgb(100 21 255);
}