@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: #242424;
    font-weight: 600;
}


/* NAVIGATION  BAR */

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* padding: 100px 20px; */
}
.logo__container {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
}

.nav__link--primary {
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 30px;
    padding: 56px 32px;
    font-size: 16px;
}

.nav__links {
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
  color: #242424;
}

.logo {
    width: 50px;
}

.nav__link {
    text-decoration: none;
    padding: 6px;
}

ul {
    list-style-type: none;
}

.purple{ 
    color: rgb(100 21 255);
}


/* INTRO  */

#introduction{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 100px;

}

.intro__title {
    padding: 20px;
    font-size: 40px;
}

.intro__img {
    width: 100%;
    height: 350px;
   
}

.intro__search{
    padding: 16px;
    border-radius: 30px;
    border: 1px solid #797171;    
    max-width: 465px;
}

.btn__intro {
    background-color: rgb(100 21 255);
    color: white;
    border-radius: 30px;
    padding: 16px 32px;
    font-size: 16px;
}
 
.email__input {
    border: none;
    font-size: 24px;
    color: rgba(149, 143, 143, 0.361);
}

.intro__para {
    padding: 32px;
}

.intro__container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 500px;

}

